<!DOCTYPE html>
<html>
  <head>
    <title>Turnout</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'fonts' %>
    <%= stylesheet_link_tag 'animate' %>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
