<!DOCTYPE html>
<html>
  <head>
    <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
      window.cloudinary_options = {
        cloud_name: '<%=ENV['CLOUD_NAME'] %>',
        upload_preset: '<%=ENV["UPLOAD_PRESET"] %>'
      };
    </script>
    <title>Turnout</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCVQbt2uFKSt2NHfm9JQPtRTjV4Ga75UGU" %>
    <%= stylesheet_link_tag 'fonts' %>
    <%= stylesheet_link_tag 'animate' %>
    <link href="assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
